@import "variables";
@import "mixins";
@import "bootstrap";
@import "../libs/font-awesome/css/font-awesome.min.css";

$header-height:90px;

body {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	background-color: #E7EAEB;
}
.h2 {
	font-size: 28px;
	font-weight: 300;
}
.header {
	height: $header-height;
	line-height: $header-height;
	background-color: #fff;
}
.logo {
	height: $header-height;
	background-color: #006CB5;
	color: #fff;
	line-height: $header-height;
	font-size: 26px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 300;
	
}
.priem-zakazov {
	line-height: 20px;
	font-weight: 16px;
	padding: 20px;
	float: right;
	span {
		font-weight: 700;
	}
}
.ikea {
		color: #FFD800;
		font-weight: 700;
	}
.oplata-poluch {
	color: #FFD800;
	font-weight: 700;

}
.phone {
	float: right;
	padding: 18px 30px;
	font-size: 18px;
	font-weight: 300;
	height: $header-height;
	line-height: 28px;
	
	span {
		font-weight: 400;
		 font-size: 22px;
	}
}
.big-image {
	background: url(../img/1.jpg) no-repeat;
	background-size: 100%;
	height: 486px;
	position: relative;	
	&_text {
		padding-top: 10%;
		padding-left: 5%;
		font-size: 32px;
		font-weight: 300;
		color: #fff;
	}
}
.data-poezdki {
	position: absolute;
	top:0;
	right:0;
	padding: 15px;	
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	text-align:center;
	font-size:18px;
}
.date {
	font-size:48px;
	font-weight: 700;
	color: #FFD800;
}
.calc {
	background-color: #fff;
	padding: 20px 50px 40px 50px;
	.h2 {
		//text-transform: uppercase;
	}
}
.st-zak {
	text-align: center;
	&_h3 {
		font-size: 16px;
	}
	&_cena {
		font-size: 18px;
		font-weight: 700;
	}
}
.vsego {
	text-align: center;
	&_h3 {
		font-size: 22px;
	}
	.price {
		font-size: 38px;
		font-weight: 700;
		color: #006CB5;
	}

}
.chekout {
	padding: 20px;
	text-align: center;
	background-color: #FFD046;
	color: #fff;
	text-transform: uppercase;

	.h2 {
		line-height: 40px;
		span {
			color: #FEA900;

		}
	}
}
.block {
	padding: 40px 60px;
	p {
		font-weight: 300;
		padding-top: 30px;
		font-size: 16px;
	}
}
.sposob1 {
	background-color: #F8F8F8;	
}
.sposob2 {
	background-color: #F4F5F4;	
}
.sposob3 {
	background-color: #fff;	
}
footer {
	
		background-color: #006CB5;
		color: #fff;
		padding: 30px;

}
.footer-phone {

}
.social {
	float: right;
	.fa-vk {
		color: #507296;
	}
	.fa-odnoklassniki {
		color: #F58220;
	}
	.fa-google-plus {
		color: #F63E28;
	}
	.fa-instagram {
		color: #695049;
	}
}

// CATALOG

.catalog {
	&-block {
		background-color: rgba(0, 0, 0, 0.4);
		padding: 20px;
		width: 100%;
		&-margin {
			padding:0;
			
		}
		&-h2 {
			font-size: 22px;
			color: #fff;
			padding: 5px 0 20px 0;
			font-weight:400;
		}
		ul {
			min-height:190px;
		}
		ul li {
			font-size:16px;
			list-style-type: none;
			
			a {
				color: #fff;
				
			}
		}
	}
	.servirovka {
		background: url(../img/servirovka.jpg) no-repeat;
		background-size: 100%;

	}
	.kuh {
		background: url(../img/kuh.jpg) no-repeat;
		background-size: cover;	
	}
	.osv {
		background: url(../img/osv.jpg) no-repeat;
		background-size: cover;	
	}
}

// CATALOG